/*@H. Kadhum, C. Conlon 11/11/2014*/
/*Incomplete css Version 1.0. More info at readme file. (update version for any changes you commit to github*/
@charset "utf-8"; /*charset incoding for fonts. important.*/

@font-face {
    font-family: myFont;
    src: url(Andes.ttf);/*CSS3. Custom font. Must be called for each CSS rule to be applied. Example: font-family: myFont;*/
}
body {	/*this is the basic rule that will be inherited by anything without a rule*/
color: #FFFFFF;
background: #3366CC;
font-family: Century Gothic, Arial;/*Arial is Fallback. Haven't tested.*/
margin: 0 auto;
}

#head-section{/*header. I have a header id on html that I haven't specified any rules for. So basically obsolete. Haven't tested what removing it would do...*/
background: #000;
border-bottom: 1px solid #FFFFFF;
height: 40px;
text-align: center;
}

#lang-botton {/*part of the header that contains the 2 following classes*/
z-index: 10000;
position: absolute;
top: 8px;
right: 15px;
height: 40px;
width: 450px;
}

#lang-botton .english {
float: right;
margin-top: 3px;
margin-bottom: 3px;
}

#lang-botton .arabic{
float: right;
margin-bottom: 3px;
margin-top: 3px;
padding-right: 10px;
margin-right: 10px;
border-right: 1px dotted #FFFFFF;
}

#lang-botton a { /*specifies the link elements. i.e Arabic and English*/
font-size: 15px; 
}

a:visited {/*specifies the link elements. i.e Arabic and English or any link in general*/
color: #FFFFFF;
text-decoration: none;
font-weight: bold;
}

a:link {
text-decoration: none;
color: #FFFFFF;
font-weight: bold;
}

a:hover {
color: #FF9933;
text-decoration: none;
font-weight: bold;
}

nav {/*nav element styling. position/size of nav. Important: refer to #12 readme*/
position: fixed;
left: 0;
top: 50%;
height: 600px;
width: 166px;
margin: -285px -20px 0 0;
background: #000000;
z-index: 100;
}

nav ul {/*unordered list of nav*/
list-style: none;
margin: 0 0 0 0;
padding: 0 0 0 0;
width: 166px;
}

nav ul .active {/*Refer to class=active on idex src file. The active class is peculiar. It swaps its position based on what section you're looking at e.g. "Welcome" then active is placed on it. The idea is to have the grey box I've placed on Welcome move as you scroll through or click on menu items. JS most like.*/
background: url(images/menu_bar.png);
background-repeat: no-repeat;
background-position: right top;
}

nav ul li { /*Changes the styling for the menu items. To call Andes.ttf, use the 'myFont' condition*/
display: block;
width: 166px;
height: 86px;
cursor: pointer;
font-weight: bold;
font-size: 15px;
line-height: 86px;
color: #FFFFFF;
padding: 0 0 0 20px;
margin: 0 0 0 0;
font-family:'myFont', Century Gothic, Arial;
font-size: 166%;
}

article .content {/*for all content classes on the page*/
display: block;
position: relative;
width: 1280px;
height: 600px;
margin: 0 auto;
overflow: auto;
}

article.panel_welcome{/*Careful: for some reason, certain classes in article act kinda funny you won't get it to work if you have a space between the article and the class as shown on the left. You will ,however, run into some classes that won't work if you don't have a space between the class and the article. Just alternate to see what works. Current format on all css as of the writing of this long ass comment DOES work.*/
height: 600px;
width: 100%;
min-width: 1280px;
margin: 0 auto;
overflow: hidden;
background: url(images/welcome_rapture1.jpg) center top no-repeat;
}

article.panel_review{/*the section that will contain our review. Child of article panel_welcome*/
background: #6699FF;/*color for now. We can change this into images later on. Look on the example above for help*/
height: 600px;
width: 100%;
min-width: 1280px;
margin: 0 auto;
overflow: hidden;
}

article.panel_review ul {/*ul styling of panel_review*/
list-style: none;
padding: 0;
margin: 20px 0 0 20px;
}

article.panel_review ul li {/*list styling.*/
width: 530px;
height: 405px;
display: none;
font-size: 17px;
line-height: 26px;
}

article.panel_review .left {/*this rule changes the position of the arrow bottons on review panel. This and .right seems to fix them in the middle of the page. */
left: 580px;
}

article.panel_review .info_nav {/*targets the info nav arrow bottons only.*/
position: absolute;
background: #FFFFFF;
color: #c0ced9;
display: block;
width: 50px;
height: 50px;
bottom: 30px;
line-height: 50px;
text-align: center;
font-size: 32px;
cursor: pointer;
opacity: 0.8;
}

article.panel_review .right {
left: 640px;
}

article.panel_features{/*features styling.*/
background: #336699;
height: 600px;
width: 100%;
min-width: 1280px;
margin: 0 auto;
overflow: hidden;
}

article.panel_features ul {
padding: 0;
margin: 20px 0 0 20px;
font-weight: bold;
}

article.panel_characters{/*characters styling. The character section is very, very incomplete at the moment. I have put some classes on index but haven't done and css for them.*/
background: #191959;
height: 600px;
width: 100%;
min-width: 1280px;
margin: 0 auto;
overflow: visible;
}

#media {/*just the media id*/
background: #336699;
position: relative;
top: 0;
left: 0;
height: 600px;
width: 100%;
margin: 0 auto;
overflow: hidden;
display: block;
}

#media .container {/*contains our images/video*/
height: 600x;
width: 9999px;
position: relative;
}

article.panel_buy {/*Will need a few more rules for buy panel*/
background: #6699FF;
height: 600px;
width: 100%;
min-width: 1280px;
margin: 0 auto;
overflow: hidden;
}

article.panel_feedback{/*Will need a few more rules for buy panel*/
background: #336699;
height: 600px;
width: 100%;
min-width: 1280px;
margin: 0 auto;
overflow: hidden;
}

#footer {/*Footer. Nothing important needs to go here. Just some text alignments, maybe make it slightly bigger, add a few links.*/
background: #000;
border-top: 1px solid #FFFFFF;
height: 40px;
text-align: center;
}