body{
position:fixed;
height:100%;
width:100%;
background-image:url("images/welcomeimg.jpg");
margin:0px; 
padding:0px;
background-repeat:no-repeat;
}
#window{
position:relative;
z-index:1000;
background-image:url("images/Bioshockframe2.png");
height:100%;
width:100%;
margin:0px; 
padding:0px;
background-repeat:no-repeat;
}
#lf1{
z-index:1;
position:relative;
left:140px;
top:20px;
height:150px;
width:600px;

-webkit-animation: myfirst 4s; 
animation: myfirst 4s;
-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes myfirst{
	  
	10% {background-image:url("images/light1.png");}
	20%  {background-image:url("images/light2.png");}
	30%  {background-image:url("images/light3.png");}
	40%  {background-image:url("images/light4.png");}
	50%  {background-image:url("images/light5.png");}
	60%  {background-image:url("images/light6.png");}
	70%  {background-image:url("images/light7.png");}
	80%  {background-image:url("images/light8.png");}
	90%  {background-image:url("images/light1.png");}
	100% {background-image:url("images/light1.png");}
}	

